$primary: #37ab00;
$background: #fbfef4;
$background-secondary: #fff;

$black-transparency-03: #00000008;
$black-transparency-20: #00000033;
$black-transparency-30: #0000004d;
$black-transparency-70: #000000b3;

$white: $background-secondary;
